---
layout: default
title: Home
cover: false
projetos: 'projetos/'
qr: 'qr/'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>

            <div class="home-buttons">
                <a href="https://github.com/pedroentringer"class="button" target="_blank"><img src="/assets/images/social/github.png" /></a>
                <a href="https://www.linkedin.com/in/pedroentringer"class="button" target="_blank"><img src="/assets/images/social/linkedin.png" /></a>
                <a href="https://api.whatsapp.com/send?phone=352691237270&text=Heeey"class="button" target="_blank"><img src="/assets/images/social/whatsapp.png" /></a>
                <a href="mailto:pedroentringer97@gmail.com"class="button" target="_blank"><img src="/assets/images/social/email.png" /></a>
            </div>

        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <article class="post">
        <div class="splash about">
            <div class="home-profile" style="background-image: url(/assets/images/profile.jpg)" ></div>
            <div class="content">
                <span class="title">About me</span>
                <span class="description">Currently living in Echternach, Luxembourg. <br />Graduated in Information Systems, passionate about new technologies. <br />I like to create working systems that solve real problems.</span>
            </div>
        </div>
        <div class="splash projects">
            <div class="content">
                <span class="title">My Projects</span>
                <span class="description">Take a look at the projects I've developed, I hope you like it.</span>
            </div>
            <div class="btn">
                <a href='{{ site.baseurl }}{{ page.projetos }}'>See Projects</a>
            </div>
        </div>
    </article>

    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">[{{ post.lang }}] - {{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta" style="margin-top: 10px">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.jpg" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
