---
layout: page
title: Projetos
---

{% for project in site.data.projects %}
  <div class="post" style="width: 90% !important;">
    <div class="project-header">
      {{project.title}}
    </div>
    <div class="card project">
      <div class="content">
        {% if project.image %} <img src="/assets/images/projects/{{project.image}}" /> {% endif %}
        <span class="description">{{project.description}}</span>
        <div class="techs">
          {% for tech in project.techs %}
            <span>{{tech}}</span>
          {% endfor %}  
        </div>
      </div>
    </div>
  </div>
{% endfor %}  
