.home-profile {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 60px;
	background-size: cover;
	background-position: center center;
}

.home-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin-top: 20px;
	justify-content: center;
}

.button {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
    transition: 500ms all;   
}

.button:hover {
    transform: translateY(-5px);
}

.button img {
    width: 25px;
    height: 25px;
}

.about {
	margin-bottom: 25px;
	color: #2a2e2e;
	background-color: #ebeef2;
	font-size: 16px;
	width: 100%;
	line-height: 1.45em;
	padding: 15px;
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 10px;
	border-radius: 6px;
}

.about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .content .title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.about .content .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}